/* Font face */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fdb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  background-color: #e5a202;
}
.mobile-header {
  display: none;
}
.mobile-btn {
  display: none;
}
/* Оформление форм */
.form {
  /* Поле для ввода */
  /* Подписи к полям */
  /* Кнопка отправить заявку */
}
.form-input {
  display: block;
  margin: 2rem 0;
  padding: 0 1rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 100%;
  height: 52px;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  width: 100%;
  height: 6.5rem;
  font-size: 1.6rem;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 13rem;
  text-align: center;
}
.section-header-white {
  color: #ffffff;
}
.section-header-white h2 {
  margin-top: 0;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.8rem;
  font-family: 'ProximaNova_reg', sans-serif;
}
/* main screen */
.main {
  padding: 3rem 0;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /* Подзаголовок */
  /* Зелёный ярлык */
  /* Оплата по факту */
  /* Главная форма */
}
.main-content {
  margin-top: 10rem;
  /* Главный заголовок */
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 5rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 2.5rem 4rem;
  font-size: 1.8rem;
  background-color: #46b814;
  color: #ffffff;
  /* 300 рублей */
}
.main span strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
}
.main-trigger {
  display: block;
  margin-top: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main-form {
  display: block;
  padding: 4rem 5rem;
  text-align: center;
  background-color: #ffffff;
  /* Заголовок формы */
  /* Подпись под кнопкой */
}
.main-form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.main-form-footer {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 1.2rem;
}
.header {
  height: 7rem;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  height: 7rem;
  line-height: 7rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  color: #1a1820;
}
.wrap {
  display: table;
  height: 7rem;
  width: 100%;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* Оформление секции с преимуществами */
.features .section-header {
  margin-top: 0;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  margin-top: 6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  margin-top: 3.5rem;
  font-size: 1.4rem;
}
.features-img {
  height: 7rem;
}
.features-img img {
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/features/left-arrow.svg) center no-repeat;
  background-size: 70%;
  z-index: 1;
  /* чтобы стрелочки пропадали под модальным окном */
}
.next {
  right: 0;
  background: url(../img/features/right-arrow.svg) center no-repeat;
  background-size: 70%;
  z-index: 1;
}
/* Оформление секции с ценами */
.price {
  background: #46b814 url(../img/prices/prices-bg.jpg) center;
  /* Карточки с тарифами */
}
.price .section-header {
  margin-bottom: 9rem;
}
.price .section-header p {
  margin-top: 4rem;
}
.price-btn-wrapper {
  text-align: right;
  height: 6.5rem;
}
.price-btn-wrapper .price-btn {
  height: 6.5rem;
  font-size: 1.7rem;
}
.price-block {
  min-height: 66rem;
  padding: 4.5rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3.5rem;
}
.price-block img {
  display: inline-block;
  margin-bottom: 3.5rem;
  width: 100%;
  max-width: 30rem;
}
.price-block .price-tag {
  display: block;
  margin-bottom: 3rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block .price-tag strong {
  font-size: 3rem;
}
.price-block .price-features {
  margin-bottom: 0;
  min-height: 17rem;
  list-style: none;
  padding: 0;
  font-size: 1.8rem;
  line-height: 1.667;
}
.price-block .price-features li::before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/prices/check.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.price-block .price-block-btn {
  width: 20rem;
  height: 6.5rem;
  font-size: 1.8rem;
}
/* Секция с отзывами */
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) center no-repeat;
  background-size: cover;
  /* Форма обратной связи */
}
.feedback .section-header {
  margin-top: 0;
  margin-bottom: 10rem;
}
.feedback-slider {
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5.5rem 6rem;
}
.feedback-slider .slick-dots {
  position: absolute;
  right: 0;
}
.feedback-slider-item {
  outline: none;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider .media {
  margin-top: 4rem;
}
.feedback-slider .media span {
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  padding: 2rem 3.5rem;
  border: 2px solid #46b814;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem 0 10rem;
  text-align: center;
}
.feedback h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.feedback label {
  -webkit-transform: translate(-50%, 6px);
          transform: translate(-50%, 6px);
}
.feedback-btn {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 25rem;
}
.feedback-footer {
  display: none;
}
.feedback .hand {
  position: absolute;
  bottom: 0;
  max-width: 30rem;
}
/* Секция "схема работы" */
.scheme {
  padding: 10rem 0 0 0;
  background: url(../img/scheme/scheme-bg.jpg) bottom -10rem right -15rem no-repeat;
  background-size: 65rem;
}
.scheme-block {
  min-height: 30rem;
  color: #1a1820;
}
.scheme-block img {
  min-height: 9rem;
}
.scheme-block h3 {
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.scheme-block p {
  font-size: 1.7rem;
  line-height: 1.059;
}
/* 100% включено */
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive .section-header-green h2 {
  font-size: 4.8rem;
  color: #46b814;
  margin-bottom: 4rem;
}
.all-inclusive .media {
  min-height: 15rem;
}
.all-inclusive .media-left {
  padding-right: 1.5rem;
}
.all-inclusive .media .circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
}
.all-inclusive .media .circle-border .circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.all-inclusive .media h4 {
  margin-top: 1.7rem;
  margin-bottom: 0;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.3rem;
}
/* Оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
  background-color: #ffffff;
  padding: 3.5rem 5rem 5rem 5rem;
}
.popup h4 {
  margin: 0;
  font-family: 'ProximaNova_bold', sans-serif;
}
.popup p {
  font-size: 1.8rem;
}
.popup-form {
  padding: 0;
}
.popup-form textarea {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1rem 1rem;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
@media (max-width: 1199px) {
  .feedback-text {
    padding: 1.5rem 3rem;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .price-btn-wrapper .price-btn {
    font-size: 1.5rem;
  }
  .price-block h4 {
    font-size: 1.5rem;
  }
  .price-block .price-features {
    font-size: 1.7rem;
  }
  .price-block-btn {
    margin-top: 2rem;
  }
  .feedback-slider {
    margin: auto;
    padding: 4.5rem 2.5rem;
    width: 95%;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top left;
  }
  .main-form-footer {
    margin-left: 0rem;
    text-align: center;
  }
  .main .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .price .section-header {
    margin-bottom: 5rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .price-btn-wrapper {
    text-align: center;
    margin-bottom: 3rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .feedback .hand {
    display: none;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .main-subtitle {
    margin-bottom: 2.3rem;
  }
  .main-trigger {
    margin-top: 2.5rem;
  }
  .main-form {
    padding: 2rem 2.5rem;
  }
  .header {
    text-align: center;
  }
  .header-btn {
    margin-bottom: 4.5rem;
  }
  .header .wrap-block {
    text-align: center;
  }
  .features .section-header {
    margin-top: 5rem;
    margin-bottom: 5.5rem;
  }
  .features-block h3 {
    margin-top: 3.5rem;
  }
  .feedback {
    padding-bottom: 1rem;
  }
  .scheme {
    padding-top: 2rem;
    background: none;
  }
  .scheme .section-header {
    margin-bottom: 4rem;
  }
  .scheme p {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
  .scheme-block {
    text-align: center;
    min-height: auto;
    margin-bottom: 5rem;
  }
  .scheme-block p {
    margin-top: 1rem;
  }
  .popup-form {
    padding: 0;
  }
  .popup-content {
    width: 73%;
  }
  /* Поднять стрелочки на маленьких экранах к иконкам  */
  .arrow {
    top: 15%;
  }
  .prev {
    left: 15%;
  }
  .next {
    right: 15%;
  }
}
@media (max-width: 480px) {
  .desktop-btn {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
  section {
    padding: 4rem 0;
  }
  .mobile-header {
    display: block;
    background-color: #ffffff;
  }
  .mobile-header .container-fluid {
    padding: 0;
  }
  .mobile-header .phone-block {
    text-align: center;
  }
  .mobile-header .phone-block .phone-link {
    font-size: 1.4rem;
    height: 6rem;
    line-height: 6rem;
  }
  .mobile-header .wrap {
    height: 6rem;
  }
  .mobile-header .wrap-block {
    text-align: center;
  }
  .mobile-header .wrap button {
    margin-bottom: 0rem;
    padding: 1rem 2rem;
  }
  .main .desktop {
    display: none;
  }
  .features .section-header {
    font-size: 2.4rem;
    margin-top: 1rem;
  }
  .features-block p {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
  section.price {
    padding: 4rem 0 0 0;
  }
  .price .section-header {
    margin-bottom: 0rem;
  }
  .price .section-header p {
    margin-top: 1rem;
  }
  .price-block {
    padding: 1.5rem 2rem;
  }
  .price-block .price-features {
    font-size: 1.6rem;
  }
  .price-btn-wrapper {
    margin: 3rem 0;
  }
  .price-btn-wrapper .price-btn {
    font-size: 1.5rem;
  }
  .feedback .section-header {
    margin-bottom: 2rem;
  }
  .feedback-slider {
    padding: 5rem 1rem;
  }
  .feedback-slider .slick-dots {
    bottom: -40px;
    font-size: 2rem;
  }
  .feedback-form {
    margin-top: 0;
  }
  .feedback-form h3 {
    font-size: 1.6rem;
  }
  .feedback-footer {
    margin-top: 4rem;
    display: block;
    font-size: 1.2rem;
  }
  .all-inclusive .section-header {
    margin-bottom: 4rem;
  }
  .all-inclusive .media {
    min-height: 8rem;
  }
  .popup-content {
    width: 85%;
    padding: 3.5rem;
  }
  .popup-content h4 {
    margin-bottom: 5px;
  }
  .popup-content p {
    font-size: 1.5rem;
  }
  .popup-content-form {
    width: 100%;
    padding: 0;
  }
}
