/* Font face */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.reg() {
  font-family: 'ProximaNova_reg', sans-serif;
}
.bold() {
  font-family: 'ProximaNova_bold', sans-serif;
}


/* Colors */
@btn-color: #fdb303;
@icons-color: #46b814;
@text: #1a1820;
@danger: #ff0000;
@bg-light: #f5f5f5;
@white: #fff;
@input-border: #dddddd;
@problems-color: #e8e8e8;

/* Basic settings */
html {
  font-size: 10px;
}
body {
  .reg;
}
a:hover {
  text-decoration: none;
}
button, input, a, textarea {
  &:focus {
  outline: none;
  }
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: @btn-color;
  color: @white;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
  &:hover {
    background-color: darken(@btn-color, 5%);
  }
}
.mobile-header {
  display: none;
}
.mobile-btn {
  display: none;
}

/* Оформление форм */
.form {
  /* Поле для ввода */
  &-input {
    display: block;
    margin: 2rem 0;
    padding: 0 1rem;
    border: 1px solid @input-border;
    border-radius: 5px;
    width: 100%;
    height: 52px;
  }
  /* Подписи к полям */
  label {
    // display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: @white;
  }
  /* Кнопка отправить заявку */
  &-btn {
    display: block;
    width: 100%;
    height: 6.5rem;
    font-size: 1.6rem;
  }
}


/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  .bold;
  font-size: 3.6rem;
  &-white {
    color: @white;
    h2 {
      margin-top: 0;
      font-size: 3.6rem;
    }
  }
  p {
    font-size: 1.8rem;
    .reg;
  }
  margin-bottom: 13rem;
  text-align: center;
}


/* main screen */

.main {
  padding: 3rem 0;
  background: #fff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  &-content {
    margin-top: 10rem;
    /* Главный заголовок */
    h1 {
      margin-top: 0;
      margin-bottom: 4rem;
      .bold;
      font-size: 4rem;
      line-height: 1.45;
      text-transform: uppercase;
    }
  }
  /* Подзаголовок */
  &-subtitle {
    margin-bottom: 5rem;
    font-size: 2.4rem;
  }
  /* Зелёный ярлык */
  span {
    display: inline-block;
    padding: 2.5rem 4rem;
    font-size: 1.8rem;
    background-color: @icons-color;
    color: @white;
    /* 300 рублей */
    strong {
      .bold;
      font-size: 3rem;
    }
  }
  /* Оплата по факту */
  &-trigger {
    display: block;
    margin-top: 4rem;
    .bold;
    font-size: 2.2rem;
    text-transform: uppercase;
  }
  /* Главная форма */
  &-form {
    display: block;
    padding: 4rem 5rem;
    text-align: center;
    background-color: @white;
    /* Заголовок формы */
    &-header {
      font-size: 1.8rem;
      margin-bottom: 4rem;
    }
    /* Подпись под кнопкой */
    small {
      display: block;
      margin-top: 1.5rem;
    }
  }
  &-form-footer {
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 1.2rem;
  }
}
.header {
  height: 7rem;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  height: 7rem;
  line-height: 7rem;
  .bold;
  font-size: 2rem;
  color: @text;
}
.wrap {
  display: table;
  height: 7rem;
  width: 100%;
  &-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  }
}


/* Оформление секции с преимуществами */

.features {
  .section-header {
    margin-top: 0;
  }
  &-block {
    text-align: center;
    h3 {
      margin-top: 6rem;
      .bold;
      font-size: 2rem;
    }
    p {
      display: inline-block;
      width: 80%;
      margin-top: 3.5rem;
      font-size: 1.4rem;
    }
  }
  &-img {
    height: 7rem;
    img {
      margin: 0 auto;
    }
  }

}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/features/left-arrow.svg) center no-repeat;
  background-size: 70%;
  z-index: 1; /* чтобы стрелочки пропадали под модальным окном */
}
.next {
  right: 0;
  background: url(../img/features/right-arrow.svg) center no-repeat;
  background-size: 70%;
  z-index: 1;
}

/* Оформление секции с ценами */
.price {
  background: @icons-color url(../img/prices/prices-bg.jpg) center;
  .section-header {
    margin-bottom: 9rem;
    p {
      margin-top: 4rem;
    }
  }
  &-btn-wrapper {
    text-align: right;
    height: 6.5rem;
    .price-btn {
      height: 6.5rem;
      font-size: 1.7rem;
    }
  }
  /* Карточки с тарифами */
  &-block {
    min-height: 66rem;
    padding: 4.5rem 3rem;
    background-color: @white;
    box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
    text-align: center;
    h4 {
      font-size: 1.9rem;
      .bold;
      margin-bottom: 3.5rem;
    }
    
    img {
      display: inline-block;
      margin-bottom: 3.5rem;
      width: 100%;
      max-width: 30rem;
    }
    .price-tag {
      display: block;
      margin-bottom: 3rem;
      font-size: 1.9rem;
      .bold;
      strong {
        font-size: 3rem;
      }
    }
    .price-features {
      margin-bottom: 0;
      min-height: 17rem;
      list-style: none;
      padding: 0;
      font-size: 1.8rem;
      line-height: 1.667;
      li {
        &::before {
          content: '';
          display: inline-block;
          margin-right: 1rem;
          width: 1.4rem;
          height: 1.4rem;
          background: url(../img/prices/check.svg) no-repeat center ;
          background-size: 100%;
          vertical-align: middle;
        }
      }  
    }
    .price-block-btn {
      width: 20rem;
      height: 6.5rem;
      font-size: 1.8rem;
    }
  }
}


/* Секция с отзывами */
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) center no-repeat;
  background-size: cover;
  .section-header {
    margin-top: 0;
    margin-bottom: 10rem;
  }
  &-slider {
    background-color: @white;
    box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
    padding: 5.5rem 6rem;
    .slick-dots {
      position: absolute;
      right: 0;
    }
    &-item {
      outline: none;
    }
    &-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      height: 5rem;
      background: @icons-color;
      border: none;
      img {
        width: 50%;
      }
    }
    p {
      font-size: 1.6rem;
    }
    .media {
      margin-top: 4rem;
      span {
        font-size: 1.4rem;
      }
      h4 {
        font-size: 1.6rem;
        .bold;
      }
    }
  }
  &-text {
    position: relative;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    padding: 2rem 3.5rem;
    border: 2px solid @icons-color;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -2rem;
      left: 4rem;
      width: 2rem;
      height: 2rem;
      background-color: @white;
      border: 2px solid @icons-color;
      border-bottom: none;
      border-top-right-radius: 100px;
    }
  }
  &-prev-btn {
    left: -4rem;
  }
  &-next-btn {
    right: -4rem;
  }
  /* Форма обратной связи */
  &-form {
    margin-top: 5rem;
    padding: 4rem 10rem 0 10rem;
    text-align: center;
  }
  h3 {
    .bold;
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  label {
    transform: translate(-50%, 6px);
  }
  &-btn {
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 25rem;
  }
  &-footer {
    display: none;
  }
  .hand {
    position: absolute;
    bottom: 0;
    max-width: 30rem;
  }
}


/* Секция "схема работы" */
.scheme {
  padding: 10rem 0 0 0;
  background: url(../img/scheme/scheme-bg.jpg) bottom -10rem right -15rem no-repeat;
  background-size: 65rem;
  &-block {
    min-height: 30rem;
    color: #1a1820;
    img {
      min-height: 9rem;
    }
    h3 {
      font-size: 2.2rem;
      .bold;
    }
    p {
      font-size: 1.7rem;
      line-height: 1.059;
    }
  }
}


/* 100% включено */
.all-inclusive {
  background-color: @bg-light;
  .section-header-green {
    h2 {
      font-size: 4.8rem;
      color: @icons-color;
      margin-bottom: 4rem;
    }
  }
  .media {
    min-height: 15rem;
    &-left {
      padding-right: 1.5rem;
    }
    .circle-border {
      display: inline-block;
      width: 5rem;
      height: 5rem;
      padding: 0.3rem;
      border: 2px solid @icons-color;
      border-radius: 50%;
      text-align: center;
      line-height: 4rem;
      .circle {
        display: inline-block;
        background-color: @icons-color;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: @white;
        .bold;
        font-size: 2rem;
      }
    }
    h4 {
      margin-top: 1.7rem;
      margin-bottom: 0;
      .bold;
      font-size: 1.6rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}



/* Развеевание опасений */
.problems {
  position: relative;
  .section-header {
    margin-bottom: 9rem;
    h2 {
      font-size: 3.6rem;
    }
  }
  &-list {
    border: 4px solid;
    padding: 3rem;
    min-height: 40rem;
    h4 {
      // color: @problems-color;
      .bold;
      font-size: 2.1rem;
      margin-bottom: 4rem;
    }
    /* Обалденная стилизация списка */
    ul {
      padding: 0;
      list-style: none;
      li {
        padding-left: 4.5rem;
        margin-bottom: 3rem;
        position: relative;
        font-size: 1.6rem;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 3rem;
          height: 3rem;          
        }
      }
    }
    &-bad {
      border-color: @problems-color;
      h4 {
        opacity: 0.5;
      }
      ul li:before {
        background: url(../img/problems/red.svg) center no-repeat;
        background-size: 70%;
      }
    }
    &-good {
      border-color: @icons-color;
      li {
        line-height: 1.1;
      }
      ul li:before {
        background: url(../img/problems/green.svg) center no-repeat;
        background-size: 70%;
      }
    }
  }
  &-woman {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30rem;
    margin-left: -19rem;
  }
}


/* Материалы */
.materials {
  background: url(../img/materials/materials-bg.jpg) center no-repeat;
  background-size: cover;
  &-block {
    text-align: center;
    h3 {
      font-size: 2.2rem;
      margin-bottom: 2.5rem;
      .bold;
    }
    p {
      font-size: 1.9rem;
    }
  }
  &-img {
    height: 18rem;
  }
  &-link {
    color: @icons-color;
    border-bottom: 1px dotted @icons-color;
    &:hover {
      color: darken(@icons-color, 10%);
    }
  }
  .section-header {
    margin-bottom: 7rem;
    h2 {
      margin-bottom: 4rem;
      font-size: 3.6rem;
    }
  }
  img {
    margin: 0 auto;
  }
  .post-scriptum {
    text-align: center;
    font-size: 2rem;
    margin-top: 7rem;
  }
}

/* Оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  &-content {
    position: fixed;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    background-color: @white;
    padding: 3.5rem 5rem 5rem 5rem;
  }  
  h4 {
    margin: 0;
    .bold;
  }
  p {
    font-size: 1.8rem;
  }
  &-form {
    padding: 0;
    textarea {
      margin-bottom: 15px;
      width: 100%;
      border: 1px solid @input-border;
      border-radius: 5px;
      padding: 1rem 1rem;
    }
  }
  &-close {
    position: absolute;
    top: -1.5rem;
    right: -2rem;
    width: 2rem;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: @white;
  }
}


@media (max-width: 1199px) {
  .feedback-text {
    padding: 1.5rem 3rem;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .problems {
    &-list {
      min-height: 48rem;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .price-btn-wrapper .price-btn {
    font-size: 1.5rem;
  }
  .price-block {
    h4 {
      font-size: 1.5rem;
    }
    .price-features {
      font-size: 1.7rem;
    }
    &-btn {
      margin-top: 2rem;
    }
  }
  .feedback-slider {
    margin: auto;
    padding: 4.5rem 2.5rem;
    width: 95%;
  }
}


@media (max-width: 991px) {
  .main {
    background-position: top left;
    &-form-footer {
      margin-left: 0rem;
      text-align: center;
    }
    .phone-block {
      text-align: center;
    }
    &-content {
      margin-top: 3rem;
    }
    &-title {
      text-align: center;
      padding-bottom: 3rem;
    }
  }
  .price {
    .section-header {
      margin-bottom: 5rem;
    }
    &-block {
      margin-top: 2rem;
    }
    &-btn-wrapper {
      text-align: center;
      margin-bottom: 3rem;
    }
  } 
  .feedback {
    .fotorama {
      margin-bottom: 3rem;
    }
    &-form {
      label {
        transform: translate(-50%, -50%);
      }
    }
    &-prev-btn {
      left: 0;
    }
    &-next-btn {
      right: 0;
    }
    .hand {
      display: none;
    }
  }
  .problems {
    &-list {
      min-height: auto;
      margin-bottom: 2rem;
    }
    &-woman {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  section {
    padding: 4rem 0;
  }

  .main {
    background-position: top left;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
    &-subtitle {
      margin-bottom: 2.3rem;
    }
    &-trigger {
      margin-top: 2.5rem;
    }
    &-form {
      padding: 2rem 2.5rem;
    }
  }
  .header {
    text-align: center;
    &-btn {
      margin-bottom: 4.5rem;
    } 
    .wrap-block {
      text-align: center;
    }
  }

  .features {  
    .section-header {
      margin-top: 5rem;
      margin-bottom: 5.5rem;
    }
    &-block h3 {
      margin-top: 3.5rem;
    }
  }

  .feedback {
    padding-bottom: 1rem;
  }

  .scheme {
    padding-top: 2rem;
    background: none;
    .section-header {
      margin-bottom: 4rem;
    }
    p {
      margin-top: 2rem;
      font-size: 1.6rem;
    }
    &-block {
      text-align: center;
      min-height: auto;
      margin-bottom: 5rem;
      p {
        margin-top: 1rem;
      }
    }
  }
  
  .materials {
    .post-scriptum {
      margin-top: 3rem;
      font-size: 1.8rem;
    }
  }

  .popup {
    &-form {
      padding: 0;
    }
    &-content {
      width: 73%;
    }
  }



  /* Поднять стрелочки на маленьких экранах к иконкам  */ 
  .arrow {
    top: 15%;
  }
  .prev {
    left: 15%;
  }
  .next {
    right: 15%;
  }
}






@media (max-width: 480px) {
  .desktop-btn {
    display: none;
  }
  .mobile-btn {
    display: block;
  }

  .mobile-header {
    display: block;
    background-color: @white;
    .container-fluid {
      padding: 0;
    }
    .phone-block {
      text-align: center;
      .phone-link {
        font-size: 1.4rem;
        height: 6rem;
        line-height: 6rem;
      }
    }
    .wrap {
      height: 6rem;
      &-block {
        text-align: center;
      }
      button {
        margin-bottom: 0rem;
        padding: 1rem 2rem;
      }
    }

  }

  .main {
    .desktop {
      display: none;
    }
  }
  
  .features {
    .section-header {
      font-size: 2.4rem;
      margin-top: 1rem;
    }
    &-block {
      p {
        margin-top: 2rem;
        font-size: 1.6rem;
      }
    }
  }


  section.price {
    padding: 4rem 0 0 0;
  }
  .price {
    .section-header {
      margin-bottom: 0rem;
      p {
        margin-top: 1rem;
      }
    }
    &-block {
      padding: 1.5rem 2rem;
      .price-features{
        font-size: 1.6rem;
      }
    }
  &-btn-wrapper {
    margin: 3rem 0;
    .price-btn {
        font-size: 1.5rem;
      }
    }
  }    

  .feedback {
    .section-header {
      margin-bottom: 2rem;
    }
    &-slider {
      padding: 5rem 1rem;
      .slick-dots {
        bottom: -40px;
        font-size: 2rem;
      }
    }
    &-form {
      margin-top: 0;
      h3 {
        font-size: 1.6rem;
      }
    }
    &-footer {
      margin-top: 4rem;
      display: block;
      font-size: 1.2rem;
    }
  }
  .all-inclusive {
    .section-header {
      margin-bottom: 4rem;
    }
    .media {
      min-height: 8rem;
    }
  }
  .problems {
    .section-header {
      margin-bottom: 3rem;
      h2 {
        font-size: 2.4rem;
      }
    }
  }
  .popup-content {
    width: 85%;
    padding: 3.5rem;
    h4 {
      margin-bottom: 5px;
    }
    p {
      font-size: 1.5rem;
    }
    &-form {
      width: 100%;
      padding: 0;
    }
  }


}