* {
  box-sizing: border-box;
}

body {
	background-color: rgba(150,150,150,0.3);
}

/*Два элемента в одной строке*/

.box-1 {
  display: inline-block;
}

.box-2 {
  display: inline-block;
  background-color: #000;
  color: #fff;
  vertical-align: top;
  min-height: 480px;

}

.contents-header {
  margin: 0;
  color: #fff;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  text-align: left;
}

li {
  text-align: center;
}



h1, 
.chapter,
.part {
	text-align: center;
}

h1 {
  margin-bottom: 50px;
}

/*Декорирование*/

p {
  text-indent: 50px;
} 

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

a {
  color: rgb(200,200,200);
}

.wrapper {
  text-align: center;
}

.part {
  color: #792;
  border: 2px solid #792;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
}

.chapter {
  text-decoration: underline;
}

.chapter-1-2 {
  background-color: #913;
}

.chapter-1-5 {
  background-color: #fff;
}

.chapter-3-3 {
  color: #fff;
}